---
name: Release

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/maven_release_callable.yml@853340bbf4dcdd84d678d286e062ccdf38c76974 # 1.24.1
    secrets: inherit
